<!-- The main content area -->
<main id="main" role="main">

  <section class="bg-black text-white px-8 py-8 flex items-center justify-between">
    <p class="text-gray-200">Status Docs</p>
    <form action="/" id="search-form" _lpchecked="1" class="flex items-center">
      <span class="text-gray-500 mr-6">
        <%- image_tag('/img/search.svg') %>
      </span>
      <input id="search-input" placeholder="Search documentation…" class="bg-transparent placeholder-gray-400 text-lg">
    </form>
  </section>

  <section class="single-docs-content pb-20 lg:pb-64">
    <div class="max-w-screen-2xl mx-auto px-8 lg:px-12">
      <div class="custom-article">
        <%- page_anchor(page.content) %>
        <div class="fiddle">
          <div id="app"></div>
        </div>
      </div>
      <div class="border-t border-gray-100 pt-8 mt-24 text-gray-500 text-center font-special">
        <span class="text-lg">
          Last update: <%- page.updated.format(config.date_format) %>
        </span>
        <%- page_nav() %>
      </div>
    </div>
  </section>

</main>

<!-- Fiddle -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.44.0/codemirror.min.css">
<script src="/js/fiddle/lib/codemirror.js"></script>
<script src="/js/fiddle/lib/clojure.js"></script>
<script src="/js/fiddle/lib/parinfer.js"></script>
<script src="/js/fiddle/lib/parinfer-codemirror.js"></script>
<script src="/js/fiddle/js/compiled/app.js"></script>
<script>status_fiddle.core.init();</script>
<style>
.CodeMirror{
  box-sizing: border-box;
  padding: 10px;
  height: 100%!important;
  border: 1px solid #eef2f5;
}
</style>